<!--<p class="text-danger" th:text="'Hello, ' + ${name} + '!'"/>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"/>
<body style="background-image: url('https://i.imgur.com/RN1g0Yj.jpg');background-repeat:no-repeat;background-attachment:fixed;background-size:cover;">
<div th:insert="fragments/header :: header"/>



<div th:insert="fragments/scripts :: scripts"/>
</body>
</html>
<!-- -webkit-text-stroke-width: 2px;-webkit-text-stroke-color: black;-->
<!--color:#EAEDED;text-shadow: 2px 2px #17202A;-->