<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"/>
<body style="background: #EAEDED;">

<div id="nav">
    <script type="text/javascript">
        $(document).ready(function() {
            $('#serviceIds').multiselect({
                includeSelectAllOption: true,
                nonSelectedText: 'Services'
            });
        });
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Streams</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shows">Shows</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/persons">People</a>
                </li>
            </ul>
            <form class="d-inline" id="shows-filter-form" th:action="@{'/' + ${url} + '-filter'}" th:object="${mediaFilterParams}" method="post">
                <ul class="navbar-nav">
                    <li class="nav-item mx-2">
                        <select class="form-control bg-light" id="serviceIds" multiple="multiple" th:field="*{serviceIds}">
                            <option th:each="service : ${services}"
                                    th:value="${service.getId()}"
                                    th:id="${service.getId()}"
                                    th:text="${service.getName()}">Service</option>
                        </select>
                    </li>
                    <li class="nav-item mx-2">
                        <select class="form-control bg-light" id="genre" th:field="*{genre}">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.getQueryText()}"
                                    th:id="${genre.getId()}"
                                    th:text="${genre.getDisplayText()}">Genre</option>
                        </select>
                    </li>
                    <div class="d-inline mx-2 w-40">
                        <input class="form-control" type="search" placeholder="Search" th:field="*{text}" id="search">
                    </div>

                    <li class="nav-item">
                        <a class="nav-link" href="javascript:$('#shows-filter-form').submit();">Filter</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{'/' + ${url}}" class="nav-link">Reset</a>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>


<div>
    <h2 class="m-4">Movies</h2>
    <div th:if="${movies.empty}">
        <h3>No movies found</h3>
    </div>
    <div class="row mx-2">
        <div th:each="show, iStat : ${movies}" class="col-4">
            <div class="card mb-3 shadow-sm" th:style="@{'&#45;&#45;animation-order:' + ${iStat.count}}">
                <div class="card-body">
                    <h5 th:text="${show.getName()}" class="card-title"> Name </h5>
                    <h6 th:text="${show.getGenre()}" class="card-subtitle mb-2 text-muted"> Genre </h6>
                    <p th:text="${show.getDescription()}" class="card-text"> Description </p>
                    <h6><a th:href="@{'/movie?id=' + ${show.getId()}}" class="card-link badge badge-info">More info</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="m-2">-->
<!--    <h2>Movies</h2>-->

<!--    <div>-->
<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Name</th>-->
<!--                <th>Genre</th>-->
<!--                <th>Release Date</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:if="${movies.empty}">-->
<!--                <td colspan="3">No shows found</td>-->
<!--            </tr>-->
<!--            <tr th:each="show : ${movies}">-->
<!--                <td><a th:text="${show.getName()}" th:href="@{'/movie?id=' + ${show.getId()}}"> Name </a></td>-->
<!--                <td><span th:text="${show.getGenre()}"> Genre </span></td>-->
<!--                <td><span th:text="${show.getReleaseDate()}"> Release Date </span></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->

<!--    </div>-->
<!--</div>-->


<div th:insert="fragments/scripts :: scripts"/>
</body>
</html>