<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"/>
<body style="background: #EAEDED;">
<div th:insert="fragments/header :: header"/>

<div th:with="show=${show}">

    <div class="jumbotron jumbotron-fluid ml-3">
        <h1 class="display-4" th:text="${show.getMedia().getName()}"> Name </h1>
        <p class="lead" th:text="${show.getMedia().getDescription()}"> Description </p>
        <hr class="my-4">
        <h6 class="text-muted" th:text="@{${show.getMedia().getGenre()} + ', Release Date: ' + ${show.getMedia().getReleaseDate()} }"> Genre, Release Date </h6>
        <p th:if="${show.getDirectors().size()} > 0" th:with="director=${show.getDirectors().get(0)}" th:text="@{ 'Director: ' + ${director.getFirstName()} + ' ' + ${director.getLastName()} }"> Director </p>
        <span th:if="${show.getActors().size()} > 0" th:each="person, iStat : ${show.getActors()}">
            <span th:unless="${iStat.index > 0}" th:text="'Cast List: ' + ${person.getFirstName()} + ' ' + ${person.getLastName()}" style="display:inline-block;"/>
            <span th:if="${iStat.index > 0}" th:text="', ' + ${person.getFirstName()} + ' ' + ${person.getLastName()}" style="display:inline-block;"/>
        </span>
        <div class="mt-3">
            <b>Number of Seasons: </b>
            <span th:text="${show.getMedia().getNumSeasons()}"/>
        </div>
        <div>
            <b>Total Number of Episodes: </b>
            <span th:text="${show.getMedia().getNumEpisodes()}"/>
        </div>
        <p class="lead">
            <a class="btn btn-danger btn-md mt-2" href="#" role="button">Watch on Netflix</a>
        </p>
    </div>

</div>


<div th:insert="fragments/scripts :: scripts"/>
</body>
</html>